.container {
    width: 45rem;
    border-radius: 0.5rem;
    overflow: none;
}

.container .row:first-child > h3 {
    border-radius: 0.5rem 0.5rem 0 0;
}

.container .row:last-child > p {
    border-radius: 0 0 0.5rem 0.5rem;
    border-bottom: 1px solid grey;
}

.title {
    padding: 1rem;
    border: 1px solid grey;
    font-weight: normal;
    font-size: 1rem;
}

.details {
    padding: 1rem;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.hide {
    display: none;
}

.display {
    display: block;
}

.row h3 {
    cursor: pointer;
}

.row h3:hover {
    background-color: #fefbfb;
}

.row h3:active {
    background-color: #edeaea;
}

.row h3 > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
